.obsidian/*
.obsidian/workspace.json
CE2/Amplificador Trabajo/Informe/main.aux
CE2/Amplificador Trabajo/Informe/main.fdb_latexmk
CE2/Amplificador Trabajo/Informe/main.fls
CE2/Amplificador Trabajo/Informe/main.log
CE2/Amplificador Trabajo/Informe/main.synctex.gz
